[Unit]
Description=Launch flaticron to notify of %i flatpaks pending an update
Documentation=man:flaticron(1)

[Service]
Type=oneshot
ExecStart=/usr/sbin/flaticron --installation %i
